<ion-content>
  <!-- <app-loading [data]="contacts"></app-loading> -->
  <ion-grid *ngIf="contacts">
    <ion-row>
      <ion-col sizeMd="2" sizeXs="12" *ngFor="let contact of contacts">
        <ion-card>
          <img src="{{contact.profile}}" alt="{{contact.name}}" />
          <ion-card-header>
            <ion-card-subtitle>{{contact.name}}</ion-card-subtitle>
            <ion-card-title>{{contact.phone}}</ion-card-title>
          </ion-card-header>
          <!-- <ion-item (click)="edit(contact)">
            <ion-icon name="create" slot="start"></ion-icon>
            <ion-label>Editar</ion-label>
          </ion-item> -->
          <ion-item (click)="removeContact(contact)" color="danger" class="remove">
            <ion-icon name="del" slot="start"></ion-icon>
            <ion-label>Remover</ion-label>
          </ion-item>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>